/* You can add global styles to this file, and also import other style files */
.nano .pane   { background: rgb(164, 225, 236); } 
 .nano .slider { background: #111; } 

body {
    
    background-color: #374a5d !important;
    border: 0 !important;
} 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
